h1 {
  text-align: center;
}

p.subsection-title {
  font-weight: bold;
  font-size: 20px;;
}

p.project-title {
  font-weight: bold;
  font-size: 20px;;
  text-align: center;
}

div.divider {
  width: 200px;
  height: 2px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

main {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

section {
  margin-top: 20px;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  /* About Section Styles */
  &.index-about {
    text-align: center;
    div.about-img-container {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      img {
        width: 200px;
        height: 200px;
        border-radius: 15px;
      }
    }
  }
  /* Project Styles */
  &.index-projects {
    h2 {
      text-align: center;
    }

    div.project-flex-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }

    div.project-container {
      height: 200px;
      width: 200px;
      border: 1px solid #fff;
    }
  }
}

ul.resume-list {
  li {
    margin: 8px 0;
  }

  li > a:hover {
    text-decoration: underline;
  }
}