main {
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #1A253A;
    margin-top: 60px;
    background-size: cover;
    background-repeat: repeat;
    background-position: bottom left calc(50% + 80px), center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    column-gap: 220px;
    background-image: url(/images/ales-nesetril-Im7lZjxeLhg-unsplash.jpg);
    background-size:160vh ;
}


main .main-intro h1 {
    font-size: 9.6rem;
    line-height: 1.1;
    margin-bottom: 20px;
    text-align: center;
}

main p {
    font-size: 1.8rem;
    line-height: 1.75;
    /*if width goes beyond the specified max,
    it's not allowed to go further than that. */
    max-width: 500px;
}

main a {

    margin-top: 30px;
    font-size: 1.8rem;
    display: block;
    height: 36px;
    line-height: 1.75;
    background-color: var(--site-color-01);
    padding: 0px 20px;
    width: fit-content;
}

main a:hover {
    background-color: var(--site-color-01-hover);
}

main .main-quotes p {

    border-left: 4px solid var(--site-color-01);

    padding-left: 20px;

    margin: 40px 0;
}

main .main-quotes p:nth-child(2) {
    margin-left: 100px;
}


main .main-intro {
    padding-bottom: 8vh;
}
main .main-quotes {
    padding-bottom: 8vh;
}


/* CATEGORY SECTION */

.index-category {
    width: 100%;
    padding: 60px 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    flex-wrap: wrap;
}

.index-category p {
 color: #111;
 text-align: center;
 padding-bottom: 40px;
 flex-basis: 100%;
 text-transform: uppercase;
 font-size: 2.2rem;
}

/* .index-category a h3 {
    


} */
.index-category-box {

    width: 20rem;
    height: 20rem;
    background-color: #111;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

/* adding images to project section of website */
.index-category-box:nth-child(2) {
    background-image: url(../images/portfolio\ website.jpg);
    
    }

.index-category-box:nth-child(3) {
    background-image: url(../images/mtg\ card\ search\ app.png);
    
    }
.index-category-box:nth-child(4) {
    background-image: url(../images/Firebase\ to-do\ app.png);
        
    }
.index-category-box:nth-child(5) {
    background-image: url(../images/photography.png);
    
    }

.dark-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #1A253A;
    opacity: 0.5;
    transition: all ease-in-out 200ms;
}

.index-category-box:hover .dark-overlay {
    opacity: 0;
}

.index-category-box h3 {
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
    text-shadow: -2px 2px 4px #000;
    z-index: 100;
}

/* about section */

.index-about {
    width: 100%;
    padding: 60px 0;
    background-color: #1A253A;

}

.index-about-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
}
.index-about-img img {
    width: 300px;
    border-radius: 300px;
}

.index-about-text {
    flex-basis: 455px;

}
.index-about-text p {
  padding: 20px 0;  
}

.index-about-text a {

        font-size: 1.8rem;
        display: block;
        width: 200px;
        margin-top: 20px;
}

.index-about-text a:hover {
color: var(--site-color-01-hover);
}


.index-about-skill {
    flex-basis: 350px;

}

.index-about-skill-bar {
    width: 100%;
    height: 20px;
    border: 4px solid #0B0F16;

}

.index-about-skill-bar-fill {
    height: 100%;
    background-color: var(--site-color-01);

}

.win {
    width: 100%
}

.mac {
    width: 70%
}
.lnx {
    width: 20%
}
.jscript {
    width: 10%
}
.jv {
    width: 10%
}
.htmlcss {
    width: 20%
}

/* styling media content within the index page */
@media only screen and (max-width: 600px) {
    main {
        /* moves content to the bottom in mobile */
        align-items: flex-end;

    }

    .index-category-box h3 {
        font-size: 2rem;
        line-height: 1.5;
        text-align: center;
        text-shadow: -2px 2px 4px #000;
        z-index: 100;     
        text-transform:none;
    }

    /* .dark-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #1A253A;
        opacity: 0.5;
        transition: all ease-in-out 200ms;
    }
    
    .index-category-box:hover .dark-overlay {
        opacity: 0;
    }

    .index-category-box:hover .dark-overlay {
        opacity: 0;
    } */
    
    main .main-intro {
        /* adds 8vh spacing from the bottom */
        padding-bottom: 8vh;
        
    }
    
    main .main-intro h1 {
        font-size: 5rem;
        line-height: 1.25;
        /* centers the h1 text in main on mobile*/
        text-align: center;
    }
    
    main p {
        text-align: center;
        /* adds padding from the left and right
        0 from top and bottom 10 percent left and right */
        padding: 0 20px;
        /* scales down the text */
        line-height: 1.75;
    }
    
    main a { 
        margin: 30px auto;
    }
    
    main .main-quotes {
        display: none;
    }

    /* MOBILE CATEGORY SECTION START */

    .index-category {
        /* reduces spacing in the category section */
        padding: 40px 0 20px;
        row-gap: 10px;
    }
    
    .index-category p {
     padding-bottom: 20px;
     font-weight: bold;
    }
    .index-category-box {
    
        width: calc(100% - 20px);
        height: 160px;
    }    
    
    /* about section Mobile*/

.index-about-flex {
    /* flex-wrap: wrap; makes things go below each other in flex container */
    flex-wrap: wrap;
    row-gap: 20px;
}
/* affects the container itself
centers the image because it's within a flexbox*/
.index-about-img {
    /* use percentages for width as different devices have different widths */ 
    width: 60%;
}
/*affects the image within the img container */
.index-about-img img {
    /* use percentages for width as different devices have different widths */ 
    width: 100%;
}

.index-about-text {
    flex-basis: 100%;

}

.index-about-text h2 {
    text-align: center;  
  }

.index-about-text p {
  text-align: center;  
}

.index-about-text a {
    margin: 0 auto 10px;
}

}


